:root {
  font-family: "Silkscreen";
  font-size: 2em;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --darker-grey: #22262b;
  --dark-grey: #2d3238;
  --grey: #394046;
  --light-grey: #58626c;
}

body {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 5px solid var(--light-grey);
  font-family: inherit;
  font-size: inherit;
  background-color: var(--grey);
  border-radius: 2px;
  box-shadow: 0px 10px 0px var(--dark-grey), 5px 14px 0px var(--darker-grey), -5px 14px 0px var(--darker-grey), 5px -4px 0px var(--darker-grey), -5px -4px 0px var(--darker-grey);
}

button:hover {
  background-color: var(--light-grey);
}

button:active {
  transform: translateY(5px);
  box-shadow: 5px 4px 0px var(--darker-grey), -5px 4px 0px var(--darker-grey), 5px 0px 0px var(--darker-grey), -5px 0px 0px var(--darker-grey);
}

button:target {
  transform: translateY(5px);
  background-color: var(--dark-grey);
}

.calculator {
  max-width: 100%;
  padding: 1rem;
  background-color: #0f1430;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator__body {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.display {
  display: flex;
  flex: 1;
  min-height: 6rem;
  flex-direction: column;
  padding: 1rem;
  background-color: aliceblue;
  color: black;
  width: 100%;
  box-sizing: border-box;
}

.display--off {
  background-color: var(--dark-grey);
}

.keypad {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.keypad__grid {
  background-color: #141b3f;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.special-key {
  grid-column: span 2;
}

.hello-key {
  color: yellow;
}

.bye-key {
  color: fuchsia;
}

.clear-key {
  color: springgreen;
}

.backspace-key img {
  color: red;
  image-rendering: pixelated;
}

.zero-key {
  grid-column: span 2;
}

.equal-key {
  grid-row: span 2;
}

@media (max-width: 768px) {
  :root {
    font-size: 1.5em;
  }

  .backspace-key img {
    width: 1.5em;
    height: 1.5em;
  }

  .calculator {
    max-width: 90%;
  }

  .keypad__grid {
    gap: 0.5rem;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 1.2em;
  }

  .calculator {
    max-width: 100%;
  }

  .keypad__grid {
    gap: 0.25rem;
  }
}