:root {
  font-family: "Silkscreen";
  font-size: 2em;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--off-white);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --off-white: #ffffffde;
  --grey: #394046;
  --dark-grey: #2d3238;
  --darker-grey: #22262b;
  --light-grey: #58626c;
  --bluish-grey: #6e7e8b;
  --dark-blue: #141b3f;
  --darker-blue: #0e132b;
  --greyish-blue: #18202f;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 5px solid var(--bluish-grey);
  font-family: inherit;
  font-size: inherit;
  background-color: var(--grey);
  border-radius: 2px;
  box-shadow: 0px 10px 0px var(--dark-grey), 5px 14px 0px var(--darker-grey), -5px 14px 0px var(--darker-grey), 5px -4px 0px var(--darker-grey), -5px -4px 0px var(--darker-grey);
  transition: box-shadow 0.1s, transform 0.1s, background-color 0.1s;
  z-index: 1;
}

button:hover {
  transform: translateY(7px);
  background-color: var(--light-grey);
}

button:active {
  transform: translateY(10px);
  box-shadow: 5px 4px 0px var(--darker-grey), -5px 4px 0px var(--darker-grey), 5px 0px 0px var(--darker-grey), -5px 0px 0px var(--darker-grey);
}

button:target {
  transform: translateY(5px);
  background-color: var(--dark-grey);
}

.calculator {
  min-width: 15rem;
  max-width: 100%;
  padding: 1rem;
  background-color: var(--bluish-grey);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 14px 0px var(--grey)
}

.calculator__body {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.display {
  display: flex;
  flex: 1;
  justify-content: space-between;
  min-height: 6rem;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--off-white);
  color: var(--darker-grey);
  box-sizing: border-box;
  box-shadow: 5px -4px 0px var(--grey), -5px -4px 0px var(--grey), 0px 10px 0px var(--dark-grey) inset, 5px 4px 0px var(--grey), -5px 4px 0px var(--grey);
  z-index: 1;
}

.display--off {
  background-color: var(--darker-grey);
}
 
.display__section {
  font-size: 1rem;
  color: var(--dark-grey);
  transition: all 0.5s;
}

.display__section--active {
  font-size: 1.3rem;
  color: var(--darker-grey);
  transition: all 0.5s;
}

.keypad {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.keypad__grid {
  background-color: var(--light-grey);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.special-key {
  grid-column: span 2;
}

.hello-key {
  color: yellow;
}

.bye-key {
  color: fuchsia;
}

.clear-key {
  color: springgreen;
}

.backspace-key img {
  color: red;
  image-rendering: pixelated;
}

.zero-key {
  grid-column: span 2;
}

.equal-key {
  grid-row: span 2;
}

@media (max-width: 712px), (max-height: 712px) {
  :root {
    font-size: 1.5em;
  }

  .backspace-key img {
    width: 1em;
    height: 1em;
  }

  .calculator {
    min-width: 10rem;
    max-width: 90%;
  }

  .display__section {
    font-size: 1rem;
  }

  .keypad__grid {
    gap: 0.5rem;
  }
}